@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {
    --color-black: rgb(34 24 28);
    --color-trans-black: rgb(116 82 96);
    --color-pink: rgb(243 218 206);
    --color-white: rgb(248 234 227);
    --color-dark-braun: rgb(38 32 29);
    --color-dark-white: rgb(235 235 235);
    --color-dark-black: rgb(22 20 18);
}

::-webkit-scrollbar {
    width: 22px;
}

::-webkit-scrollbar-thumb {
    border: 6px solid #0000;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--color-black);
}

::-webkit-scrollbar-thumb:hover {
    border: 6px solid #0000;
    background-color: var(--color-trans-black);
}

::-webkit-scrollbar-track {
    background: var(--color-pink);
    margin: 10px;
    background: 0 0;
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    font-size: 15px;
}

/* header */
header {
    background-color: var(--color-pink);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 145px;
    margin: 10px 0;
}

header i {
    font-size: 24px;
}

header i:hover {
    opacity: .7;
}

header > div {
    display: flex;
    gap: 20px;
    align-items: center;
}

menu {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

menu a {
    text-decoration: none;
}

menu a:hover, menu a.active {
    text-decoration: underline;
}

.menubutton,
.menubutton-close {
    display: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.menubutton:hover,
.menubutton-close:hover {
    opacity: .7;
}

/* main */
main {
    max-width: 1024px;
    height: calc(100vh - 120px);
}


/* Text */
h1, h2, h3 {
    font-weight: 400;
    font-family: 'Kalam', cursive;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

/* buttons */

a {
    text-decoration: underline;
    color: var(--color-black);
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.button {
    background-color: var(--color-black);
    border-radius: 13px;
    border-width: 0;
    color: var(--color-white);
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-trans-black);
}

.button i {
    font-size: 24px;
}

/* main */
.title-image {
    background-image: url(../img/Titelbild-v3.png);
    height: 65vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

/* media queries */
@media (max-width: 750px) {
    .menubutton,
    .menubutton-close {
        display: block;
    }
    menu {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        display: none;
        background-color: var(--color-white);
        flex-direction: column;
        overflow: auto;
        padding: 40px 30px;
        margin: 0;
        z-index: 100000;
        justify-content: center;
        align-items: flex-end;
    }
    menu.open {
        display: flex;
    }
    .title-image {
        height: 45vh;
    }
}