@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {
    --color-black: rgb(34 24 28);
    --color-trans-black: rgb(116 82 96);
    --color-pink: rgb(243 218 206);
    --color-white: rgb(248 234 227);
    --color-dark-braun: rgb(38 32 29);
    --color-dark-white: rgb(235 235 235);
    --color-dark-black: rgb(22 20 18);
}

::-webkit-scrollbar {
    width: 22px;
}

::-webkit-scrollbar-thumb {
    border: 6px solid #0000;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--color-black);
}

::-webkit-scrollbar-thumb:hover {
    border: 6px solid #0000;
    background-color: var(--color-trans-black);
}

::-webkit-scrollbar-track {
    background: var(--color-pink);
    margin: 10px;
    background: 0 0;
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    font-size: 15px;
}

/* header */
header {
    background-color: var(--color-pink);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 145px;
    margin: 10px 0;
}

header i {
    font-size: 24px;
}

header i:hover {
    opacity: .7;
}

header > div {
    display: flex;
    gap: 20px;
    align-items: center;
}

menu {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

menu a {
    text-decoration: none;
}

menu a:hover, menu a.active {
    text-decoration: underline;
}

.menubutton,
.menubutton-close {
    display: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.menubutton:hover,
.menubutton-close:hover {
    opacity: .7;
}


/* Text */
h1, h2, h3 {
    font-weight: 400;
    font-family: 'Kalam', cursive;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

.center {
    text-align: center;
}

/* buttons */

a {
    text-decoration: underline;
    color: var(--color-black);
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.button {
    background-color: var(--color-black);
    border-radius: 13px;
    border-width: 0;
    color: var(--color-white);
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-trans-black);
}

.button i {
    font-size: 24px;
}

/* inputs */
input:not([type=checkbox]):not([type=radio]), select, textarea {
    width: 100%;
    min-width: 100px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid var(--color-dark-black);
    padding: 5px 10px;
    margin: 5px 0 10px;
    outline: none;
    box-sizing: border-box;
	resize: vertical;
}

textarea {
    min-height: 100px;
}

input:not([type=checkbox]):not([type=radio]):hover, select:hover, textarea:hover,
input:not([type=checkbox]):not([type=radio]):focus, select:focus, textarea:focus {
    border: 1px solid var(--color-trans-black);
    opacity: .7;
}

/* main */
main {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
    min-height: calc(100vh - 120px);
}

.title-image {
    height: 65vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.holder {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.abstand {
    height: 50px;
    width: 100%;
}

/* footer */

footer {
    background-color: var(--color-pink);
    padding: 50px 20px;
}

footer>div {
    max-width: 1024px;
    margin: 0 auto;
}

footer h2 {
    margin: 0;
}

footer i {
    font-size: 24px;
}

footer .social {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    justify-content: center;
}

footer .contact {
    margin: 0 auto 50px;
    max-width: 512px;
}

footer .links {
    display: flex;
    gap: 0 20px;
    width: 100%;
    margin-top: 50px;
}

/* products */

.product {
    background-color: var(--color-pink);
    padding: 20px;
    border-radius: 13px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 170px 35px 25px 40px;
    grid-template-areas: "image image"
        "title title"
        "price stock"
        "button button";
}

.product-img {
    grid-area: image;
    background-size: cover;
    background-position: center;
    margin: -20px -20px 15px -20px;
}

.product-name {
    grid-area: title;
    font-size: 20px;
    text-align: center;
}

.product-price {
    grid-area: price;
    font-size: smaller;
    opacity: .6;
}

.product-stock {
    grid-area: stock;
    font-size: smaller;
    opacity: .6;
    text-align: right;
}

.product-btn {
    grid-area: button;
}

/* persons */

.person {
    background-color: var(--color-pink);
    padding: 20px;
    border-radius: 13px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 170px 35px 15px;
}

.person-img {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0px 25px 20px;
}

.person-name {
    font-size: 20px;
    text-align: center;
}

.person-function {
    font-size: smaller;
    text-align: center;
    opacity: .6;
}

/* media queries */
@media (max-width: 750px) {
    .menubutton,
    .menubutton-close {
        display: block;
    }
    menu {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        display: none;
        background-color: var(--color-white);
        flex-direction: column;
        overflow: auto;
        padding: 40px 30px;
        margin: 0;
        z-index: 100000;
        justify-content: center;
        align-items: flex-end;
    }
    menu.open {
        display: flex;
    }
    .title-image {
        height: 45vh;
    }
}